html,
body{
  height: 100%;
}

body {
  font-size: 16px;   
  display: flex;
  flex-direction: column;
}

.main{
  flex-grow: 1;
}

.container{
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;
}

.blog__container{
  max-width: 1170px;
  margin: 0 auto;
}

a{
  color: #7b7b7b;
  font-size: 14px;
  line-height: 24px;
}

.breadcrumbs{
  display: flex;
  justify-content: center;
  &__list{
    display: flex;
  }
  &__item{
    color: #979ba0;
    font-size: 14px;
    line-height: 24px;
    @extend %quicksand-400;
    padding-right: 20px;
    position: relative;
    &::after{
      content: "/";
      position: absolute;
      right: 6px;
    }
    &:last-child{
      padding-right: 0; 
      &::after{
        display: none;
      }
    }
  }
  &__link{
    color: inherit;
  }
}

.pagination{
  display: flex;
  justify-content: center;
  padding: 105px 0 0 0;
  &.pagination-left{
    display: flex;
    justify-content: start;
  }
  &__list{
    display: flex;
  }
  &__item{
    border: 1px solid #a3bbc8;
  }
  &__item + .pagination__item{
    margin-left: 15px;
  }
  &__link{
    color: #243f4d;
    @extend %quicksand-400;
    cursor: pointer;
    padding: 20px;
    display: inline-block;
    line-height: 0;
  }
  &__link--active{
    background-color:#a3bbc8;
    color: #fff;
  }
}
